<div class="row" ng-controller="AdminPanelController as apCtrl">
  <div class="col-sm-12">
    <div class="jumbotron mdb-color" style="height: 100%;">

      <form name="loginForm" ng-submit = "apCtrl.submitSigninForm(loginForm)" novalidate>
        <p class="h3 white-text text-center mb-4">Admin Panel</p>

        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input name="email" ng-model = "apCtrl.signin.email" type="email" id="materialFormLoginEmailEx" class="form-control" required="">
          <label for="materialFormLoginEmailEx">Your email <strong class="saffText">*</strong></label>
          <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="font-small error-alert text-center d-flex justify-content-center mb-3 pt-2"> email must be valid.</p>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input name="password" ng-model = "apCtrl.signin.password" type="password" id="materialFormLoginPasswordEx" class="form-control" required="">
          <label for="materialFormLoginPasswordEx">Your password <strong class="saffText">*</strong></label>
          <p ng-show="loginForm.password.$invalid && loginForm.password.$touched" class="font-small error-alert text-center d-flex justify-content-center mb-3 pt-2"> password is required.</p>
        </div>

        <div class="text-center mt-4">
          <button ng-disabled = "apCtrl.loading" class="btn btn-outline-pink waves-effect" type="submit"><i class="fa fa-sign-in mr-1"></i>Login</button>
        </div>

        <div class="text-center mt-4">
          <div class="loader" ng-show="apCtrl.loading"></div>
        </div>
      </form>

      
    </div>
  </div>
</div>
